CREATE DATABASE QLTTSV
GO
USE QLTTSV
GO
CREATE TABLE [dbo].[BRANCH](
	[BRANCH_ID] [int] IDENTITY(1,1) NOT NULL,
	[BRANCH_NAME] [nvarchar](100) NOT NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_BRANCH] PRIMARY KEY CLUSTERED 
(
	[BRANCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATALOG]    Script Date: 6/30/2019 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATALOG](
	[CATA_ID] [int] IDENTITY(1,1) NOT NULL,
	[YEAR_START_ID] [int] NOT NULL,
	[YEAR_END_ID] [int] NOT NULL,
	[NOTE] [varchar](100) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_CATALOG] PRIMARY KEY CLUSTERED 
(
	[CATA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 6/30/2019 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CATE_ID] [int] IDENTITY(1,1) NOT NULL,
	[INTYPE_ID] [int] NOT NULL,
	[NAME_EN] [nvarchar](100) NOT NULL,
	[NAME_VI] [nvarchar](100) NULL,
	[STATUS] [int] NULL,
	[SQUENCE_NUM] [int] NULL,
	[NOTE] [nvarchar](100) NULL,
 CONSTRAINT [PK_CATELOGY] PRIMARY KEY CLUSTERED 
(
	[CATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACT]    Script Date: 6/30/2019 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACT](
	[CONTACT_ID] [int] IDENTITY(1,1) NOT NULL,
	[STU_ID] [nvarchar](50) NOT NULL,
	[CELL_PHONE] [nvarchar](10) NULL,
	[HOME_PHONE] [nvarchar](10) NULL,
	[PHONE_MESS] [nvarchar](10) NULL,
	[FATHER_NAME] [nvarchar](100) NULL,
	[FATHER_PHONE] [nvarchar](10) NULL,
	[FATHER_MAIL] [nvarchar](100) NULL,
	[FATHER_WORKING] [nvarchar](100) NULL,
	[FATHER_POSISION] [nvarchar](100) NULL,
	[MOTHER_NAME] [nvarchar](100) NULL,
	[MOTHER_PHONE] [nvarchar](10) NULL,
	[MOTHER_WORKING] [nvarchar](100) NULL,
	[MOTHER_POSISION] [nvarchar](100) NULL,
	[MOTHER_MAIL] [nvarchar](100) NULL,
	[SPON_NAME] [nvarchar](100) NULL,
	[SPON_PHONE] [nvarchar](10) NULL,
	[SPON_MAIL] [nvarchar](100) NULL,
	[SPON_WORKING] [nvarchar](100) NULL,
	[SPON_POSISION] [nvarchar](100) NULL,
 CONSTRAINT [PK_CONTACT] PRIMARY KEY CLUSTERED 
(
	[CONTACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENT]    Script Date: 6/30/2019 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT](
	[STU_ID] [nvarchar](50) NOT NULL,
	[CATE_ID] [int] NOT NULL,
	[CHECKBOX] [smallint] NULL,
	[NOTE] [nvarchar](100) NULL,
	[TEXT] [varchar](100) NULL,
 CONSTRAINT [PK_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[STU_ID] ASC,
	[CATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INPUT_TYPE]    Script Date: 6/30/2019 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INPUT_TYPE](
	[INTYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE_NAME] [varchar](100) NOT NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_INPUT_TYPE] PRIMARY KEY CLUSTERED 
(
	[INTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTAKE]    Script Date: 6/30/2019 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTAKE](
	[INTAKE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATA_ID] [int] NOT NULL,
	[INTAKE_CODE] [nvarchar](100) NOT NULL,
	[INTAKE_NAME] [nvarchar](100) NOT NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_INTAKE] PRIMARY KEY CLUSTERED 
(
	[INTAKE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROGRAMS]    Script Date: 6/30/2019 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAMS](
	[PRO_ID] [int] IDENTITY(1,1) NOT NULL,
	[BRANCH_ID] [int] NOT NULL,
	[PRO_CODE] [nvarchar](100) NOT NULL,
	[PRO_NAME] [nvarchar](100) NOT NULL,
	[CREDITS_RE] [int] NULL,
	[CREDITS_ELEC] [int] NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_PROGRAMS] PRIMARY KEY CLUSTERED 
(
	[PRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEMESTER]    Script Date: 6/30/2019 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEMESTER](
	[SEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[SEM_NAME] [nvarchar](100) NOT NULL,
	[PRIORITY] [int] NOT NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_SEMESTER] PRIMARY KEY CLUSTERED 
(
	[SEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 6/30/2019 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[STU_ID] [nvarchar](50) NOT NULL,
	[INTAKE_ID] [int] NULL,
	[STUTYPE_ID] [int] NOT NULL,
	[CONTACT_ID] [int] NULL,
	[CATA_ID] [int] NOT NULL,
	[PRO_ID] [int] NULL,
	[HCCSP_ID] [nvarchar](50) NOT NULL,
	[HCCS_EMPID] [nvarchar](50) NOT NULL,
	[BARCODE] [nvarchar](50) NOT NULL,
	[CANDI_ID] [nvarchar](50) NOT NULL,
	[FRIST_NAME] [nvarchar](100) NOT NULL,
	[LAST_NAME] [nvarchar](100) NOT NULL,
	[BIRTH_DAY] [date] NOT NULL,
	[PLACE_BIRTH] [nvarchar](100) NOT NULL,
	[HOME_COUNTRY] [nvarchar](100) NOT NULL,
	[GENDER] [int] NOT NULL,
	[PHONE] [nvarchar](100) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[PERSON_ID] [nvarchar](50) NULL,
	[HOBBY] [nvarchar](100) NULL,
	[PER_ADDRESS] [nvarchar](100) NOT NULL,
	[PER_CITY] [nvarchar](100) NOT NULL,
	[PER_COUNTRY] [varchar](100) NOT NULL,
	[PORTAL_ADDRESS] [nvarchar](100) NOT NULL,
	[PORTAL_CITY] [nvarchar](100) NOT NULL,
	[PROTAL_COUNTRY] [nvarchar](100) NOT NULL,
	[IMG] [nvarchar](max) NOT NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[STU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE_STUDENT]    Script Date: 6/30/2019 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_STUDENT](
	[STUTYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE_NAME] [varchar](100) NOT NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_TYPE_STUDENT] PRIMARY KEY CLUSTERED 
(
	[STUTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 6/30/2019 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](max) NOT NULL,
	[LAST_NAME] [nvarchar](50) NOT NULL,
	[FIRST_NAME] [nvarchar](50) NOT NULL,
	[BIRTH_DAY] [date] NULL,
	[GENDER] [int] NULL,
	[PHONE] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YEAR]    Script Date: 6/30/2019 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEAR](
	[YEAR_ID] [int] IDENTITY(1,1) NOT NULL,
	[YEAR] [int] NOT NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_YEAR] PRIMARY KEY CLUSTERED 
(
	[YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YEAR_SEME]    Script Date: 6/30/2019 8:32:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEAR_SEME](
	[YEAR_ID] [int] NOT NULL,
	[SEM_ID] [int] NOT NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_INCLUDE] PRIMARY KEY CLUSTERED 
(
	[YEAR_ID] ASC,
	[SEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BRANCH] ON 

INSERT [dbo].[BRANCH] ([BRANCH_ID], [BRANCH_NAME], [STATUS]) VALUES (1, N'IT', 1)
INSERT [dbo].[BRANCH] ([BRANCH_ID], [BRANCH_NAME], [STATUS]) VALUES (2, N'BA', 1)
SET IDENTITY_INSERT [dbo].[BRANCH] OFF
SET IDENTITY_INSERT [dbo].[CATALOG] ON 

INSERT [dbo].[CATALOG] ([CATA_ID], [YEAR_START_ID], [YEAR_END_ID], [NOTE], [STATUS]) VALUES (1, 3, 4, NULL, 1)
INSERT [dbo].[CATALOG] ([CATA_ID], [YEAR_START_ID], [YEAR_END_ID], [NOTE], [STATUS]) VALUES (2, 4, 5, NULL, 1)
INSERT [dbo].[CATALOG] ([CATA_ID], [YEAR_START_ID], [YEAR_END_ID], [NOTE], [STATUS]) VALUES (3, 5, 6, NULL, 1)
SET IDENTITY_INSERT [dbo].[CATALOG] OFF
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([CATE_ID], [INTYPE_ID], [NAME_EN], [NAME_VI], [STATUS], [SQUENCE_NUM], [NOTE]) VALUES (1, 1, N'Confirmation from of parents', N'Phiếu xác nhận của phụ huynh', 2, 1, NULL)
INSERT [dbo].[CATEGORY] ([CATE_ID], [INTYPE_ID], [NAME_EN], [NAME_VI], [STATUS], [SQUENCE_NUM], [NOTE]) VALUES (2, 1, N'High School Diploma', N'Bảng Tốt nghiệp THPT', 1, 2, NULL)
INSERT [dbo].[CATEGORY] ([CATE_ID], [INTYPE_ID], [NAME_EN], [NAME_VI], [STATUS], [SQUENCE_NUM], [NOTE]) VALUES (3, 1, N'Birth Certificate', N'Giấy khai sinh', 1, 3, NULL)
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
SET IDENTITY_INSERT [dbo].[INPUT_TYPE] ON 

INSERT [dbo].[INPUT_TYPE] ([INTYPE_ID], [TYPE_NAME], [STATUS]) VALUES (1, N'Check Box', 1)
INSERT [dbo].[INPUT_TYPE] ([INTYPE_ID], [TYPE_NAME], [STATUS]) VALUES (2, N'Input Text', 1)
SET IDENTITY_INSERT [dbo].[INPUT_TYPE] OFF
SET IDENTITY_INSERT [dbo].[INTAKE] ON 

INSERT [dbo].[INTAKE] ([INTAKE_ID], [CATA_ID], [INTAKE_CODE], [INTAKE_NAME], [STATUS]) VALUES (11, 6, N'AAS11', N'AAS11', 1)
INSERT [dbo].[INTAKE] ([INTAKE_ID], [CATA_ID], [INTAKE_CODE], [INTAKE_NAME], [STATUS]) VALUES (12, 6, N'AAS12', N'AAS12', 1)
INSERT [dbo].[INTAKE] ([INTAKE_ID], [CATA_ID], [INTAKE_CODE], [INTAKE_NAME], [STATUS]) VALUES (13, 7, N'AAS13', N'AAS13', 1)
SET IDENTITY_INSERT [dbo].[INTAKE] OFF
INSERT [dbo].[PROGRAMS] ([BRANCH_ID], [PRO_CODE], [PRO_NAME], [CREDITS_RE], [CREDITS_ELEC], [STATUS]) VALUES (2, N'BUSINESS MANAGEMENT', N'BUSINESS MANAGEMENT', 65, 0, 1)
INSERT [dbo].[PROGRAMS] ([BRANCH_ID], [PRO_CODE], [PRO_NAME], [CREDITS_RE], [CREDITS_ELEC], [STATUS]) VALUES (2, N'INTERNATIONAL BUSINESS', N'INTERNATIONAL BUSINESS', 62, 0, 1)
INSERT [dbo].[PROGRAMS] ([BRANCH_ID], [PRO_CODE], [PRO_NAME], [CREDITS_RE], [CREDITS_ELEC], [STATUS]) VALUES (2, N'MARKETING', N'MARKETING', 65, 0, 1)
SET IDENTITY_INSERT [dbo].[SEMESTER] ON 

INSERT [dbo].[SEMESTER] ([SEM_ID], [SEM_NAME], [PRIORITY], [STATUS]) VALUES (1, N'SPRING', 1, 1)
INSERT [dbo].[SEMESTER] ([SEM_ID], [SEM_NAME], [PRIORITY], [STATUS]) VALUES (2, N'SUMMER', 2, 1)
INSERT [dbo].[SEMESTER] ([SEM_ID], [SEM_NAME], [PRIORITY], [STATUS]) VALUES (3, N'FALL', 3, 1)
SET IDENTITY_INSERT [dbo].[SEMESTER] OFF
INSERT [dbo].[TYPE_STUDENT] ([TYPE_NAME], [STATUS]) VALUES (1, N'In City', 1)
INSERT [dbo].[TYPE_STUDENT] ([TYPE_NAME], [STATUS]) VALUES (2, N'Out City', 1)
INSERT [dbo].[TYPE_STUDENT] ([TYPE_NAME], [STATUS]) VALUES (3, N'Other nation', NULL)
INSERT [dbo].[USER] ([USERNAME], [PASSWORD], [LAST_NAME], [FIRST_NAME], [BIRTH_DAY], [GENDER], [PHONE], [EMAIL], [ADDRESS], [STATUS]) VALUES (N'admin', N'admin', N'Hao', N'Lam Khanh', CAST(N'1997-03-19' AS Date), 0, N'0949509015', N'goodbyemylove9667@gmail.com', N'VN', 1)
SET IDENTITY_INSERT [dbo].[YEAR] ON 

INSERT [dbo].[YEAR] ([YEAR_ID], [YEAR], [STATUS]) VALUES (1, 2001, 1)
INSERT [dbo].[YEAR] ([YEAR_ID], [YEAR], [STATUS]) VALUES (2, 2002, 1)
INSERT [dbo].[YEAR] ([YEAR_ID], [YEAR], [STATUS]) VALUES (3, 2003, 1)
SET IDENTITY_INSERT [dbo].[YEAR] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_BRANCH_NAME_BRANCH]    Script Date: 6/30/2019 8:32:19 PM ******/
ALTER TABLE [dbo].[BRANCH] ADD  CONSTRAINT [AK_BRANCH_NAME_BRANCH] UNIQUE NONCLUSTERED 
(
	[BRANCH_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [BRANCH_AK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [BRANCH_AK] ON [dbo].[BRANCH]
(
	[BRANCH_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [BRANCH_PK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [BRANCH_PK] ON [dbo].[BRANCH]
(
	[BRANCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CATALOG_PK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [CATALOG_PK] ON [dbo].[CATALOG]
(
	[CATA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [YEAR_END_FK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [YEAR_END_FK] ON [dbo].[CATALOG]
(
	[YEAR_END_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [YEAR_START_FK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [YEAR_START_FK] ON [dbo].[CATALOG]
(
	[YEAR_START_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_NAME_EN_CATELOGY]    Script Date: 6/30/2019 8:32:19 PM ******/
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [AK_NAME_EN_CATELOGY] UNIQUE NONCLUSTERED 
(
	[NAME_EN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CATELOGY_AK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [CATELOGY_AK] ON [dbo].[CATEGORY]
(
	[NAME_EN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CATELOGY_PK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [CATELOGY_PK] ON [dbo].[CATEGORY]
(
	[CATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS3_FK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [HAS3_FK] ON [dbo].[CATEGORY]
(
	[INTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CONTACT_PK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [CONTACT_PK] ON [dbo].[CONTACT]
(
	[CONTACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [HAS2_FK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [HAS2_FK] ON [dbo].[CONTACT]
(
	[STU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [DOCUMENT_FK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [DOCUMENT_FK] ON [dbo].[DOCUMENT]
(
	[STU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [DOCUMENT_PK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [DOCUMENT_PK] ON [dbo].[DOCUMENT]
(
	[STU_ID] ASC,
	[CATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DOCUMENT2_FK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [DOCUMENT2_FK] ON [dbo].[DOCUMENT]
(
	[CATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [INPUT_TYPE_PK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [INPUT_TYPE_PK] ON [dbo].[INPUT_TYPE]
(
	[INTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_INTAKE_CODE_INTAKE]    Script Date: 6/30/2019 8:32:19 PM ******/
ALTER TABLE [dbo].[INTAKE] ADD  CONSTRAINT [AK_INTAKE_CODE_INTAKE] UNIQUE NONCLUSTERED 
(
	[INTAKE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IN_FK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [IN_FK] ON [dbo].[INTAKE]
(
	[CATA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [INTAKE_AK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [INTAKE_AK] ON [dbo].[INTAKE]
(
	[INTAKE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [INTAKE_PK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [INTAKE_PK] ON [dbo].[INTAKE]
(
	[INTAKE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_PRO_CODE_PROGRAMS]    Script Date: 6/30/2019 8:32:19 PM ******/
ALTER TABLE [dbo].[PROGRAMS] ADD  CONSTRAINT [AK_PRO_CODE_PROGRAMS] UNIQUE NONCLUSTERED 
(
	[PRO_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS_CATEGORY_FK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [HAS_CATEGORY_FK] ON [dbo].[PROGRAMS]
(
	[BRANCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [PROGRAMS_AK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [PROGRAMS_AK] ON [dbo].[PROGRAMS]
(
	[PRO_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PROGRAMS_PK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [PROGRAMS_PK] ON [dbo].[PROGRAMS]
(
	[PRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [SEMESTER_PK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [SEMESTER_PK] ON [dbo].[SEMESTER]
(
	[SEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS_FK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [HAS_FK] ON [dbo].[STUDENT]
(
	[CONTACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OF3_FK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [OF3_FK] ON [dbo].[STUDENT]
(
	[STUTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OF4_FK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [OF4_FK] ON [dbo].[STUDENT]
(
	[CATA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OF5_FK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [OF5_FK] ON [dbo].[STUDENT]
(
	[INTAKE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [STUDENT_PK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [STUDENT_PK] ON [dbo].[STUDENT]
(
	[STU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [STUDY_FK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [STUDY_FK] ON [dbo].[STUDENT]
(
	[PRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TYPE_STUDENT_PK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [TYPE_STUDENT_PK] ON [dbo].[TYPE_STUDENT]
(
	[STUTYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [AK_YEAR_YEAR]    Script Date: 6/30/2019 8:32:19 PM ******/
ALTER TABLE [dbo].[YEAR] ADD  CONSTRAINT [AK_YEAR_YEAR] UNIQUE NONCLUSTERED 
(
	[YEAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [YEAR_AK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [YEAR_AK] ON [dbo].[YEAR]
(
	[YEAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [YEAR_PK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [YEAR_PK] ON [dbo].[YEAR]
(
	[YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [INCLUDE_FK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [INCLUDE_FK] ON [dbo].[YEAR_SEME]
(
	[YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [INCLUDE_PK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [INCLUDE_PK] ON [dbo].[YEAR_SEME]
(
	[YEAR_ID] ASC,
	[SEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [INCLUDE2_FK]    Script Date: 6/30/2019 8:32:19 PM ******/
CREATE NONCLUSTERED INDEX [INCLUDE2_FK] ON [dbo].[YEAR_SEME]
(
	[SEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BRANCH] ADD  CONSTRAINT [DF_BRANCH_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[CATALOG] ADD  CONSTRAINT [DF_CATALOG_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [DF_CATELOGY_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[DOCUMENT] ADD  CONSTRAINT [DF__DOCUMENT__CHECKB__300424B4]  DEFAULT ((0)) FOR [CHECKBOX]
GO
ALTER TABLE [dbo].[INPUT_TYPE] ADD  CONSTRAINT [DF_INPUT_TYPE_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[INTAKE] ADD  CONSTRAINT [DF_INTAKE_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[PROGRAMS] ADD  CONSTRAINT [DF__PROGRAMS__CREDIT__3D5E1FD2]  DEFAULT ((0)) FOR [CREDITS_RE]
GO
ALTER TABLE [dbo].[PROGRAMS] ADD  CONSTRAINT [DF_PROGRAMS_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[SEMESTER] ADD  CONSTRAINT [DF_SEMESTER_STATUS]  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[CATALOG]  WITH CHECK ADD  CONSTRAINT [FK_CATALOG_YEAR_END_YEAR] FOREIGN KEY([YEAR_END_ID])
REFERENCES [dbo].[YEAR] ([YEAR_ID])
GO
ALTER TABLE [dbo].[CATALOG] CHECK CONSTRAINT [FK_CATALOG_YEAR_END_YEAR]
GO
ALTER TABLE [dbo].[CATALOG]  WITH CHECK ADD  CONSTRAINT [FK_CATALOG_YEAR_STAR_YEAR] FOREIGN KEY([YEAR_START_ID])
REFERENCES [dbo].[YEAR] ([YEAR_ID])
GO
ALTER TABLE [dbo].[CATALOG] CHECK CONSTRAINT [FK_CATALOG_YEAR_STAR_YEAR]
GO
ALTER TABLE [dbo].[CATEGORY]  WITH CHECK ADD  CONSTRAINT [FK_CATELOGY_HAS3_INPUT_TY] FOREIGN KEY([INTYPE_ID])
REFERENCES [dbo].[INPUT_TYPE] ([INTYPE_ID])
GO
ALTER TABLE [dbo].[CATEGORY] CHECK CONSTRAINT [FK_CATELOGY_HAS3_INPUT_TY]
GO
ALTER TABLE [dbo].[CONTACT]  WITH CHECK ADD  CONSTRAINT [FK_CONTACT_HAS2_STUDENT] FOREIGN KEY([STU_ID])
REFERENCES [dbo].[STUDENT] ([STU_ID])
GO
ALTER TABLE [dbo].[CONTACT] CHECK CONSTRAINT [FK_CONTACT_HAS2_STUDENT]
GO
ALTER TABLE [dbo].[DOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENT_DOCUMENT_STUDENT] FOREIGN KEY([STU_ID])
REFERENCES [dbo].[STUDENT] ([STU_ID])
GO
ALTER TABLE [dbo].[DOCUMENT] CHECK CONSTRAINT [FK_DOCUMENT_DOCUMENT_STUDENT]
GO
ALTER TABLE [dbo].[DOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK_DOCUMENT_DOCUMENT2_CATELOGY] FOREIGN KEY([CATE_ID])
REFERENCES [dbo].[CATEGORY] ([CATE_ID])
GO
ALTER TABLE [dbo].[DOCUMENT] CHECK CONSTRAINT [FK_DOCUMENT_DOCUMENT2_CATELOGY]
GO
ALTER TABLE [dbo].[INTAKE]  WITH CHECK ADD  CONSTRAINT [FK_INTAKE_IN_CATALOG] FOREIGN KEY([CATA_ID])
REFERENCES [dbo].[CATALOG] ([CATA_ID])
GO
ALTER TABLE [dbo].[INTAKE] CHECK CONSTRAINT [FK_INTAKE_IN_CATALOG]
GO
ALTER TABLE [dbo].[PROGRAMS]  WITH CHECK ADD  CONSTRAINT [FK_PROGRAMS_HAS_CATEG_BRANCH] FOREIGN KEY([BRANCH_ID])
REFERENCES [dbo].[BRANCH] ([BRANCH_ID])
GO
ALTER TABLE [dbo].[PROGRAMS] CHECK CONSTRAINT [FK_PROGRAMS_HAS_CATEG_BRANCH]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_HAS_CONTACT] FOREIGN KEY([CONTACT_ID])
REFERENCES [dbo].[CONTACT] ([CONTACT_ID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_HAS_CONTACT]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_OF3_TYPE_STU] FOREIGN KEY([STUTYPE_ID])
REFERENCES [dbo].[TYPE_STUDENT] ([STUTYPE_ID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_OF3_TYPE_STU]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_OF4_CATALOG] FOREIGN KEY([CATA_ID])
REFERENCES [dbo].[CATALOG] ([CATA_ID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_OF4_CATALOG]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_STUDY_PROGRAMS] FOREIGN KEY([PRO_ID])
REFERENCES [dbo].[PROGRAMS] ([PRO_ID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_STUDENT_STUDY_PROGRAMS]
GO
ALTER TABLE [dbo].[YEAR_SEME]  WITH CHECK ADD  CONSTRAINT [FK_INCLUDE_INCLUDE_YEAR] FOREIGN KEY([YEAR_ID])
REFERENCES [dbo].[YEAR] ([YEAR_ID])
GO
ALTER TABLE [dbo].[YEAR_SEME] CHECK CONSTRAINT [FK_INCLUDE_INCLUDE_YEAR]
GO
ALTER TABLE [dbo].[YEAR_SEME]  WITH CHECK ADD  CONSTRAINT [FK_INCLUDE_INCLUDE2_SEMESTER] FOREIGN KEY([SEM_ID])
REFERENCES [dbo].[SEMESTER] ([SEM_ID])
GO
ALTER TABLE [dbo].[YEAR_SEME] CHECK CONSTRAINT [FK_INCLUDE_INCLUDE2_SEMESTER]
GO
ALTER TABLE [dbo].[BRANCH]  WITH CHECK ADD  CONSTRAINT [CKC_STATUS_BRANCH] CHECK  (([STATUS] IS NULL OR ([STATUS]=(2) OR [STATUS]=(1) OR [STATUS]=(0))))
GO
ALTER TABLE [dbo].[BRANCH] CHECK CONSTRAINT [CKC_STATUS_BRANCH]
GO
ALTER TABLE [dbo].[CATALOG]  WITH CHECK ADD  CONSTRAINT [CKC_STATUS_CATALOG] CHECK  (([STATUS] IS NULL OR ([STATUS]=(0) OR [STATUS]=(1))))
GO
ALTER TABLE [dbo].[CATALOG] CHECK CONSTRAINT [CKC_STATUS_CATALOG]
GO
ALTER TABLE [dbo].[CATEGORY]  WITH CHECK ADD  CONSTRAINT [CKC_STATUS_CATELOGY] CHECK  (([STATUS] IS NULL OR ([STATUS]=(2) OR [STATUS]=(1) OR [STATUS]=(0))))
GO
ALTER TABLE [dbo].[CATEGORY] CHECK CONSTRAINT [CKC_STATUS_CATELOGY]
GO
ALTER TABLE [dbo].[DOCUMENT]  WITH CHECK ADD  CONSTRAINT [CKC_CHECKBOX_DOCUMENT] CHECK  (([CHECKBOX] IS NULL OR ([CHECKBOX]=(1) OR [CHECKBOX]=(0))))
GO
ALTER TABLE [dbo].[DOCUMENT] CHECK CONSTRAINT [CKC_CHECKBOX_DOCUMENT]
GO
ALTER TABLE [dbo].[INPUT_TYPE]  WITH CHECK ADD  CONSTRAINT [CKC_STATUS_INPUT_TY] CHECK  (([STATUS] IS NULL OR ([STATUS]=(2) OR [STATUS]=(1) OR [STATUS]=(0))))
GO
ALTER TABLE [dbo].[INPUT_TYPE] CHECK CONSTRAINT [CKC_STATUS_INPUT_TY]
GO
ALTER TABLE [dbo].[INTAKE]  WITH CHECK ADD  CONSTRAINT [CKC_STATUS_INTAKE] CHECK  (([STATUS] IS NULL OR ([STATUS]=(2) OR [STATUS]=(1) OR [STATUS]=(0))))
GO
ALTER TABLE [dbo].[INTAKE] CHECK CONSTRAINT [CKC_STATUS_INTAKE]
GO
ALTER TABLE [dbo].[PROGRAMS]  WITH CHECK ADD  CONSTRAINT [CKC_CREDITS_RE_PROGRAMS] CHECK  (([CREDITS_RE]>=(0)))
GO
ALTER TABLE [dbo].[PROGRAMS] CHECK CONSTRAINT [CKC_CREDITS_RE_PROGRAMS]
GO
ALTER TABLE [dbo].[PROGRAMS]  WITH CHECK ADD  CONSTRAINT [CKC_STATUS_PROGRAMS] CHECK  (([STATUS] IS NULL OR ([STATUS]=(2) OR [STATUS]=(1) OR [STATUS]=(0))))
GO
ALTER TABLE [dbo].[PROGRAMS] CHECK CONSTRAINT [CKC_STATUS_PROGRAMS]
GO
ALTER TABLE [dbo].[SEMESTER]  WITH CHECK ADD  CONSTRAINT [CKC_STATUS_SEMESTER] CHECK  (([STATUS] IS NULL OR ([STATUS]=(2) OR [STATUS]=(1) OR [STATUS]=(0))))
GO
ALTER TABLE [dbo].[SEMESTER] CHECK CONSTRAINT [CKC_STATUS_SEMESTER]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [CKC_GENDER_STUDENT] CHECK  (([GENDER]=(1) OR [GENDER]=(0)))
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [CKC_GENDER_STUDENT]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [CKC_STATUS_STUDENT] CHECK  (([STATUS] IS NULL OR ([STATUS]=(2) OR [STATUS]=(1) OR [STATUS]=(0))))
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [CKC_STATUS_STUDENT]
GO
ALTER TABLE [dbo].[TYPE_STUDENT]  WITH CHECK ADD  CONSTRAINT [CKC_STATUS_TYPE_STU] CHECK  (([STATUS] IS NULL OR ([STATUS]=(2) OR [STATUS]=(1) OR [STATUS]=(0))))
GO
ALTER TABLE [dbo].[TYPE_STUDENT] CHECK CONSTRAINT [CKC_STATUS_TYPE_STU]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [CK_GENDER_USER] CHECK  (([GENDER]=(1) OR [GENDER]=(0)))
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [CK_GENDER_USER]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [CK_STATUS_USER] CHECK  (([STATUS] IS NULL OR ([STATUS]=(2) OR [STATUS]=(1) OR [STATUS]=(0))))
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [CK_STATUS_USER]
GO
ALTER TABLE [dbo].[YEAR]  WITH CHECK ADD  CONSTRAINT [CKC_STATUS_YEAR] CHECK  (([STATUS] IS NULL OR ([STATUS]=(2) OR [STATUS]=(1) OR [STATUS]=(0))))
GO
ALTER TABLE [dbo].[YEAR] CHECK CONSTRAINT [CKC_STATUS_YEAR]
GO
ALTER TABLE [dbo].[YEAR_SEME]  WITH CHECK ADD  CONSTRAINT [CK_YEAR_SEME] CHECK  (([STATUS] IS NULL OR ([STATUS]=(2) OR [STATUS]=(1) OR [STATUS]=(0))))
GO
ALTER TABLE [dbo].[YEAR_SEME] CHECK CONSTRAINT [CK_YEAR_SEME]
GO
USE [master]
GO
