<div class="card">
  <div class="card-header bg-dark">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <h1>Contact</h1>
      </div>
    </div>
  </div>
  <div class="card-body">
    <!-- Begin Student -->
    <div class="card">
      <div class="card-header">
        Student
      </div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Contact ID</label>
            <div class="col-md-9">
              <input type="text" readonly class="form-control" id="inputPassword" name="CONTACT_ID" [(ngModel)]="Contact.formData1.CONTACT_ID">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Studen ID</label>
            <div class="col-md-9">
              <input type="text" readonly class="form-control" id="" name="STU_ID" [(ngModel)]="Contact.formData1.STU_ID">
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End Student -->
    <!-- Begin  -->
    <div class="card">
      <div class="card-header">
        Father's Student
      </div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Father's Name</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="inputPassword" name="FATHER_NAME" [(ngModel)]="Contact.formData1.FATHER_NAME" >
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Father's Cellphone</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="inputPassword" name="FATHER_PHONE" [(ngModel)]="Contact.formData1.FATHER_PHONE">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Father's Email Address</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="inputPassword"  name="FATHER_MAIL" [(ngModel)]="Contact.formData1.FATHER_MAIL">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Father's Working Place</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="inputPassword"  name="FATHER_WORKING" [(ngModel)]="Contact.formData1.FATHER_WORKING">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Father's Position
            </label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="inputPassword" name="FATHER_POSISION" [(ngModel)]="Contact.formData1.FATHER_POSISION">
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End Father -->
    <!-- Begin Mother -->
    <div class="card">
      <div class="card-header">
        Mother's Student
      </div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Mother's Name</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="inputPassword" name="MOTHER_NAME" [(ngModel)]="Contact.formData1.MOTHER_NAME">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold" >Mother's Cellphone</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="inputPassword" name="MOTHER_PHONE" [(ngModel)]="Contact.formData1.MOTHER_PHONE">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Mother's Email Address</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="inputPassword" name="MOTHER_MAIL" [(ngModel)]="Contact.formData1.MOTHER_MAIL">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Mother's Working Place</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="inputPassword" name="MOTHER_WORKING" [(ngModel)]="Contact.formData1.MOTHER_WORKING">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Mother's Position
            </label>
            <div class="col-md-9">
    <input type="text" class="form-control" id="inputPassword" name="MOTHER_POSISION" [(ngModel)]="Contact.formData1.MOTHER_POSISION">
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End Mother -->
    <!-- Begin Sponsor -->
    <div class="card">
      <div class="card-header">
        Sponsor's Student
      </div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Sponsor's Name</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="inputPassword" name="SPON_NAME" [(ngModel)]="Contact.formData1.SPON_NAME">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Sponsor's Cellphone</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="inputPassword" name="SPON_PHONE" [(ngModel)]="Contact.formData1.SPON_PHONE">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Sponsor's Email Address</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="inputPassword" name="SPON_MAIL" [(ngModel)]="Contact.formData1.SPON_MAIL">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Sponsor's Working Place</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="inputPassword" name="SPON_WORKING" [(ngModel)]="Contact.formData1.SPON_WORKING">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-md-3 col-form-label text-dark font-weight-bold">Sponsor's Position
            </label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="inputPassword" name="SPON_POSISION" [(ngModel)]="Contact.formData1.SPON_POSISION">
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- End Sponsor -->
    <button (click)="updateRecord(Contact.formData1)" class="btn btn-success" >Submit</button>
  </div>
